body {
    padding: 10px;
    font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Container grid */
.container-box {
    display: grid;
    gap: 10px;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "a b c d"
    "a e f f"
    "a e f f";
}

/* Caixas */
.box {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Áreas */
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }

/* Imagem */
.box img {
    width: 100%;
}